<div class="container">
<h2 class="text-center pt-5 heading" appHighlight>Repo Search</h2>
    <app-search (emitUserName) = "findRepo($event)"></app-search>
    <div class="row">
      <div class="col-12">
      <div class="col-md-8 pt-5">
        <div class="card-deck" *ngFor="let repo of userRepos" >
          <div class="card">
            <div class="card-body text-center "><h2 appHighlight>{{repo.name}}</h2></div>
              <p>Watchers: {{repo.watchers}}</p>
              <p>Forks: {{repo.forks}}</p>
              <p>Default branch: {{repo.default_branch}}</p>
              <p>{{repo.description}}</p>
              <p>{{repo.language}}</p>
              </div>
              <hr>
            </div>
          </div>
        </div>
    </div>
  </div>
