.whole{
    background-color: #6f2232;
    position:relative; 

    
}
.card{
   width: 80%;
}
.heading{
    font-family: 'Permanent Marker', cursive;
font-size: 40px;
color: #E5BEBE;
}

.cardprofile{
background-color: #E5BEBE;
}
.textinfo{
    background-color:#E5BEBE ;
    font-family: 
}